@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background: url(img/bg.png);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    background: linear-gradient(#dad7cd, #a3b18a);
    width: 90vmin;
    height: 90vmin;
    border: 10px solid #3a5a40;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
    border-radius: 20px;
}

.head {
    background: linear-gradient(#3a5a40, #344e41);
    border: 2px solid #2b2d42;
    transform: scale(1.1);
    border-radius: 15px;
}
.snake {
    background-color: #588157;
    border: .25vmin solid #2b2d42;
    border-radius: 50px;
}
.food {
    background: linear-gradient(#ffba08, #e85d04);
    border: .25vmin solid #03045e;
    border-radius: 15px;
}

.scoreBox {
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    color: #3a5a40;
    top: 8vw;
    right: 8vw;
    font-size: 40px;
    font-weight: bold;
}

.hiScoreBox {
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    color: #3a5a40;
    top: 11vw;
    right: 7vw;
    font-size: 40px;
    font-weight: bold;
}